header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav svg {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  width: 30px;
  height: auto;
}

.loginBtn:hover svg {
  fill: white;
}

.loginBtn {
  padding: 0.5rem 1rem;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}

.loginBtn:hover {
  background: #333;
  color: white;
}

.loginBtn:first-of-type {
  margin-right: 1rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: 900;
}
